@import '../partials/variables.scss';

.lastArticle {
  height: $heightHero;
  @include layout-grid;
  padding-top: 2rem;
  box-sizing: border-box;
  .lastArticle_post {
    grid-column: 1/8;
    .lastArticleSection {
      margin-bottom: 1.7rem;
      .lastArticleSection_title {
        @include title-secondary-medium;
      }
    }
  }
  .lastArticle_thumbnail {
    grid-column: 9/13
  }
}

.lastArticle_content {
  margin-bottom: 2rem;
  .lastArticle_detail {
    margin-bottom: 1.35rem;
    display: block;
  }
  .lastArticle_title {
    @include title-primary-large; 
    margin-bottom: 1.3rem;  
  }
}