@import '../partials/variables.scss';

$margin-gap: 1.3rem;

.hero {
  height: $heightHero;
  display: flex;
  align-items: center;
  // background-color: $primary;
  .heroWrapper {
    text-align: center;
    .heroContainer {
      @include layout-grid;
      margin-bottom: 2.5rem;
      .heroTitle {
        grid-column: 3/11;
        grid-row: 1/1;
        @include title-primary-large;
        @include last-point;
      }
      .heroContent {
        grid-column: 4/10;
        grid-row: 2/2;
      }
    }
  }
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    &:not(:last-of-type){
      margin-right: 1rem;
    }
  }
}

.articlesContainer {
  margin-bottom: 10rem;
  .articlesTitle {
    @include title-primary-medium;
    @include last-point;
    margin-bottom: 4rem;
  }
  .articlesLayout {
    display: flex;
    article {
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}
