$family-sans-serif: Karla, Times, Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;

@mixin title-primary-large {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.065em;
}

@mixin title-primary-regular {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.065em;
}

@mixin title-primary-medium {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

@mixin title-primary-small {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.12em;
}

@mixin title-secondary-large {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
}

@mixin title-secondary-medium {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.04em;
}

@mixin title-primary-post {
  font-size: 2.36rem;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: -0.04em;
}

@mixin paragraph-default {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

@mixin paragraph-large {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.08em;
}

@mixin paragraph-semi-large {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06em;
}
