@import './colors', './typography', './mixin', './spacing';

$body-background-color: $white;
$scheme-main: $white;
$text: $black;
$footer-background-color: $white;
$footer-padding: 1rem;

.button {
  padding: .8em 3em;
  text-transform: uppercase;
  .is-primary {
    font-family: 0.8rem;
    font-weight: 700;
  }
}
