@import '../../assets/styles/scss/general.scss';

.work__link * {
  cursor: pointer;
}

.work__container {
  .work__thumbnail {
    border-radius: 6px;
    height: 100%;
    overflow: hidden;
    margin-bottom: var(--space-normal);

    @media #{$large} {
      height: 480px;
    }

    @include add_transition(0.3s, linear);

    img {
      @include add_transition(0.25s, linear);
    }
  }
}