@mixin title-primary-large {
  font-size: 2.8rem;
  line-height: 1;
}

@mixin title-primary-regular {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

@mixin title-primary-medium {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
}