@import '../partials/variables.scss';

.header {
  background-color: $white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1rem 0;
  box-sizing: border-box;
  @include paragraph-default;
  @include media-breakpoint-up($breakpoint-md){
    position: fixed;
  }
  .header__container {
    @include master-container;
    box-sizing: border-box;
  }
  .header__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include media-breakpoint-up($breakpoint-md){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header_row {
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .header__navbar {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include media-breakpoint-up($breakpoint-md){
      justify-content: flex-end;
      flex-wrap: nowrap;
    }
    a {
      &:hover {
        color: $primary;
      }
    }
    a:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

.headerLenguage {
  border: 1px solid $black;
  padding: 0.25rem 1.25rem;
  border-radius: 4px;
}
