@import '../partials/variables.scss';

.project {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  .projectInfo {
    width: 24rem;
    margin-right: 1rem;
    .projectTitle {
      .featuredProject {
        margin-bottom: 1rem;
        @include title-primary-small;
        display: block;
      }
      .title {
        @include last-point;
        font-size: 3.2rem;
        line-height: 1;
        letter-spacing: -0.04em;
      }
      .description {
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 300;
      }
    }
    .projectCategory {
      list-style: none;
      margin: 1.5rem 0 0 0 0;
      padding: 0;
    }
  }
  &.compact {
    flex-direction: column;
    .projectTitle {
      .title {
        @include title-primary-medium;
      }
      .description {
        @include title-secondary-medium;
      }
    }
  }
  .projectCoverPage {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    figcaption {
      display: none;
    }
  }
}