@charset "UTF-8";

@import "../variables";
@import "../functions";

.highlightPost_wrapper {
  margin-top: var(--space-xxl);
  height: 100%;
}

.highlightPost_container {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  @media #{$large} {
    max-height: 420px;
    height: 100vh;
  }
  .highlightPost_overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($alotama-black, 0.5);
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .highlightPost_content {
    position: relative;
    height: 60vh;
    max-height: 480px;
    padding: var(--space-normal);
    z-index: 10;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
    box-sizing: border-box;
    color: $alotama-white;
    @media #{$medium} {
      height: 100%;
      padding: 0 var(--space-xl);
    }
    .recentPost_title {
      font-size: 0.84rem;
      line-height: 1.2;
      margin-bottom: var(--space-normal);
    }
    .recentPost_heading {
      @include textStyle_bold-72px;
    }
    .recentPost_category {
      margin-top: var(--space-lg);
    }
  }
}

.blogGrid_wrapper {
  margin-top: var(--space-xl);
  .blogGrid_title {
    h1 {
      @include textStyle_bold-72px;
    }
  }
  .blogGrid_moreRecent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-md) 1rem;
    margin-top: var(--space-md);
    @media #{$large} {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .blogGrid_oldPost {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-md) 1rem;
    margin: var(--space-lg) 0;
    @media #{$large} {
      grid-template-columns: repeat(3, 1fr);
    }
    .blogGrid_post {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      @media#{$large}{
        grid-template-columns: none;
      }
      .post_content {
        margin-top: 0;
        h2 {
          margin-bottom: 0;
          @media#{$large} {
            margin-bottom: var(--space-sm); 
          }
        }
      }
    }
  }
}

.blogGrid_post {
  .post_thumbnail {
    border-radius: 6px;
    overflow: hidden;
  }
  .post_content {
    margin-top: var(--space-normal);
    h2 {
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: var(--space-sm);
    }
  }
}
