@charset "UTF-8";

@import "variables";
@import "functions";

@font-face {
  font-family:"europa";
  src:url("https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:700;
}
  
@font-face {
  font-family:"europa";
  src:url("https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.03em;
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
}

h6 {
  font-size: 1rem;
  line-height: 1
}

.text--underline {
  @include text-decoration;
}

.font--big {
  font-size: 1.5rem;

  @media #{$large} {
    font-size: 1rem;
  }
}

.font--light {
  font-weight: 300;
  font-style: normal;
}