@import "./variables";

@mixin font_family($fontname, $filename) {
  @font-face {
    font-family: $fontname;
    font-weight: bold;
    font-style: italic;
    src: url('/assets/fonts/#{$filename}.eot');
    src: url('/assets/fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/#{$filename}.woff2') format('woff2'),
    url('/assets/fonts/#{$filename}.woff') format('woff'),
    url('/assets/fonts/#{$filename}.ttf') format('truetype');
  }
}

@mixin font_style($size, $height) {
  .font-#{$size}-#{$height} {
    font-size: #{$size}px;
    line-height: #{$height}px;
  }
}

@mixin margin_block($size) {
  .margin-#{$size}px {
    display: block;
    background: transparent;
    height:#{$size}px;
    padding: 0px;
    margin: 0px;
  }
}

@mixin add_transition($duration, $type) {
  transition: $duration $type;
  -moz-transition: $duration $type;
  -ms-transition: $duration $type;
  -o-transition: $duration $type;
  -webkit-transition: $duration $type;
}

@mixin style_selection($background, $color) {
  *::-moz-selection {
    background: $background;
    background-color: $background;
    color: $color;
  }

  *::selection {
    background: $background;
    background-color: $background;
    color: $color;
  }
}

@function convert-px-to-rm($px) {
  $result: $font-base / $px;
  @return #{$result}rem;
}

%drop-shadow {
  position: relative;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}