@charset "UTF-8";

@import "../variables";
@import "../functions";

.hero__content {
  width: auto;

  .hero__title {
    margin-bottom: var(--space-normal);
    h1 {
      font-size: 3.3rem;
      @media#{$medium} {
        font-size: 4rem;
      }
    }
  }
  .hero__subtitle {
    a {
      @include text-decoration;
    }
  }
}

.skills__section {
  margin: var(--space-xxl) 0 var(--space-giant);
}

ul.skills__container {
  margin: 0;
}

.skills__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  @media #{$medium} {
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr;
  }
  .skills_content {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  .skills_contentList {
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0;
      height: 6rem;
      list-style: none;
    }
  }
}

.work__container {
  margin-bottom: 0;
}

.work__description {
  margin-top: 0;
  margin-bottom: var(--space-normal);

  h5 {
    margin-bottom: var(--space-xxs);
  }
}
