@import '../general.scss';

.home__last-posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin-bottom: var(--space-xl);
}

.home__projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  .projects__title {
    margin-bottom: var(--space-normal);
  }
  .projects__container {
    grid-row: 2/-1;
    .work__container {
      &:not(:last-of-type) {
        margin-bottom: var(--space-md);
        @media #{$large} {
          margin-bottom: var(--space-giant);
        }
      }
    }
  }
}