@charset "UTF-8";

@import "../variables";
@import "../functions";

.articles__container {
  margin: var(--space-giant) 0;
  position: relative;

  .article__header {
    .article__title {
      text-align: center;
      h1 {
        @include textStyle_bold-72px;
        text-align: left;
      }
    }
    .article__details {
      margin-bottom: var(--space-normal);
    }
    .article_category {
      margin-top: var(--space-lg);
    }
  }

  .featuredImages__wrapper {
    margin: var(--space-xl) 0;
    @media #{$large} {
      position: relative;
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }

    .featuredImages__content {
      @media #{$large}  {
        border-radius: 6px;
        overflow: hidden;
      }
    }
  }
}

.post__container {
  a {
    text-decoration: underline;
  }

  strong {
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: var(--space-normal);

    em {
    }

    strong {
    }

    code {
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      line-height: normal;
      background: $alotama-gray;
      color: #f00;
      border-radius: 6px;
      font-size: 85%;
      padding: 0.2em 0.4em;
    }
  }

  figure[class="blockCallout_container"] {
    padding: 16px 16px 16px 12px;
    display: flex;
    width: 100%;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background: rgba(235, 236, 237, 0.3);
    box-sizing: border-box;
  }
  pre {
    code[class*=hljs] {
      font-size: 0.8rem;
      tab-size: 2;
      background: #f7f6f3;
      padding: 30px 16px 30px 20px;
      white-space: pre-wrap;
      border-radius: 6px;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    li {
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: var(--space-sm);
    }
  }

  blockquote {
    position: relative;
    margin-bottom: var(--space-normal);
    padding-left: calc(2rem - 5px);
    margin-left: 0;
    border-left: 5px solid $alotama-black;
    * { 
      color: $alotama-black;
    }
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin: var(--space-lg) 0 var(--space-xs);
  }
}
